
<div>
  <app-navigation-bar [sidenav]="sidenav"></app-navigation-bar>
  <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"
          opened="false" fxHide.gt-sm="true">
          <div fxLayout="column"
              style="align-items: flex-start; padding: 0 10px;">
              <a mat-button routerLink="/home">Home</a>
              <a mat-button routerLink="/category">Category</a>
              <a mat-button routerLink="/about-us">About us</a>
              <a mat-button routerLink="/faq">FAQ</a>
              <a mat-button routerLink="/blog">Blog</a>
              <a mat-button routerLink="/contact">Contact</a>
              <a mat-button routerLink="/cart">
                  <span>Shopping cart</span>
                  <span>
                      <mat-icon matBadge="8" matBadgeColor="warn"
                          matBadgeSize="small"
                          style="font-size: 23px;" aria-hidden="true">
                          shopping_cart
                      </mat-icon>
                  </span>
              </a>
              <a mat-button routerLink="/user">
                  Account <i class="fa fa-user"></i>
              </a>
          </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
          <main>
              <app-featured-products></app-featured-products>
              <h1>SEE YOU SOON</h1>
          </main>
          <app-footer fxFlexFill></app-footer>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet />