<!-- <div> -->
    <mat-toolbar class="bg-white  ">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button class="companyName" routerLink="/">
            <span>Electronic Market</span>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/home">Home</a>
            <a mat-button routerLink="/category">Category</a>
            <a mat-button routerLink="/about-us">About us</a>
            <a mat-button routerLink="/faq">FAQ</a>
            <a mat-button routerLink="/blog">Blog</a>
            <a mat-button routerLink="/contact">Contact</a>
        </div>
        <span class="example-spacer"></span>
        <div class="icons" fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/search">
                <i class="fa fa-search"></i>
            </a>
            <a mat-button routerLink="/cart">
                <mat-icon matBadge="8" matBadgeColor="warn" matBadgeSize="small"
                    style="font-size: 23px;" aria-hidden="true">
                    shopping_cart
                </mat-icon>
            </a>
            <a mat-button routerLink="/user">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </mat-toolbar>
    
<!-- </div> -->